*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex; 
}

.sidebar {
    display: flex; /* Membuat .sidebar menjadi flex container */
    flex-direction: column; /* Mengatur arah konten menjadi vertikal */
    justify-content: center; /* Mengatur konten di tengah secara vertikal */
    align-items: center; /* Mengatur konten di tengah secara horizontal */
    flex: 0 0 10%;
    background-color: aqua;
    /* height: 102vh; */
    text-align: center; /* Memposisikan teks di tengah secara horizontal */

}
.element{
    font-size: large; 
}

.right {
    flex-grow: 1;
    
}

.nav {
    padding: 20px;
    background-color: red;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.nav ul li {
    padding: 10px;
    list-style: none
}

.nav ul li a {
    text-decoration: none;
}

.main-text {
    padding-block: 200px 0;

    height: 1200px;
    color: red;
}

.scrollable {
    overflow: auto;
    max-height: 92vh;
}